body,div,button,a {
  display: flex;
  flex: 1;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

img {width: 100%;}

.imgMemory{
  flex:none;
  width:100px;
  height:100px;
  background-image: url('./IMG/fondCarte.jpg');
  background-size: cover;
  border-radius:15px;
  margin: 1vh 3px;
}
button{
  flex:none;
  width:5vw;
  height:3vh;
  align-self:center;
  margin-top: 1vh;
}
.container{flex-wrap: wrap;}
.colonne{flex-direction:column;}
.hero{width:10vh;}
.hero:hover{cursor: pointer;}
a,a:link{color:black;}

#msg{
  position:absolute;
  left:10vh;
  font-size:5em;
  top:10vh;
  display:none;
  width:50%;
}
.home{
  width:5vw;
  align-self: center;
}