body {
  display: flex;
  flex: 1;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  flex-direction: column;
}

img {
  width: 100%;
}

.battleship {
  display: grid;
  grid-template-columns: repeat(8, 2vw);
  grid-template-rows: 2vh auto 2vh; 
  column-gap: 1vw;
  row-gap: 3vh;
}

.battleship > div {
  background-color: green;
  width: 20px;
  height: 20px;
  text-align: center;
}

.battleship >.titre{
  background-color:white;
}